@model IEnumerable<BSK_Projekt2.Models.Car>

@{
    ViewBag.Title = "Index";
}

<h2>Główna</h2>
<p>
    @Html.ActionLink("Dodaj nowy samochód", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.ActionLink("Zmień", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }) |
            @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>